body {
  background:#db5a05;
}

.calcBox {
  height: 650px;
  width: 400px;
  padding: 10px;
  margin-top: 20px;
  background: rgba(256, 256, 256, .75);
  border: 2px solid #9b9b9b;
  border-radius: 10px;
}